
{% extends 'core/base.html' %}
{% load static %}

{% block tittle %} Inicio {% endblock %}

{% block content %}

    <main class="mainHome">

        <div class="container text-center">
            <div class="row row-cols-2">
                <div class="col1">
                    <h1>ARTIFY</h1>
                    <p>¡Bienvenido a ARTIFY! Aquí encontrarás una variedad de cursos diseñados para potenciar tu creatividad y habilidades artísticas. Desde pintura hasta diseño gráfico, tenemos algo para todos los niveles. ¡Explora nuestros cursos y comienza tu viaje artístico hoy mismo!</p>
                </div>
                
                <div class="col2">
                    <img src="../static/img/logo.png" alt="Cursos" class="img-artify">
                </div>
            </div>
        </div>
    </main>
{% endblock %}